@import url('https://fonts.cdnfonts.com/css/rubik-2');

:root {
  --navbar-bg: #293136;
  --navbar-fg: #A7C080;
  --on-navbar-container-bg: black;
  --on-navbar-container-fg: white;

  --page-bg: #333C43;
}
