---
import "../styles/global.css"

import Navbar from "../components/Navbar.astro"
import HBox from "../components/HBox.astro"
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="unict.dev's home page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>unict.dev</title>
  </head>
  
  <body>
    <Navbar />
    <main>
      <HBox>
	<p>meow</p>
	meow
      </HBox>
    </main>
  </body>
</html>

<style>
  body, html {
    margin: 0;
    padding: 0;
    
    background: var(--page-bg)
  }

  main {
    display: flex; 
    justify-content: center;
    
    margin-top: 20px;
  }
  
</style>
