---
---

<button>Lorem ipsum dolor sit amet</button>

<style>
  button {
    border: unset;
    padding: 10px;

    background: var(--button-bg);

    color: var(--button-fg);

    font-size: 1.2em;
    font-family: Rubik;
    box-shadow: -10px 10px 0px var(--shadow-color);

  }

  button:hover{
    background: var(--button-hover-bg);
    color: var(--button-hover-fg)
  }
</style>
